name: CD Pipeline (Kubernetes)

on:
  workflow_run:
    workflows: ["CI/CD Pipeline"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-to-k8s:
    # "self-hosted" means this job runs on YOUR laptop, not GitHub's servers.
    # This gives it access to your local Kubernetes (Docker Desktop).
    runs-on: self-hosted
    
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: 1. Check Kubernetes Connectivity
        run: |
          echo "Checking connection to Local Cluster..."
          kubectl cluster-info
          kubectl get nodes

      - name: 2. Deploy Manifests
        run: |
          echo "Applying Configuration..."
          kubectl apply -k k8s/

      - name: 3. Restart Application
        run: |
          echo "Triggering Rolling Update..."
          kubectl rollout restart deployment/java-cicd-app -n java-cicd-ns

      - name: 4. Verify Deployment
        run: |
          echo "Waiting for pods to be ready..."
          kubectl rollout status deployment/java-cicd-app -n java-cicd-ns --timeout=60s
          kubectl get pods -n java-cicd-ns

      - name: 5. DAST (Dynamic App Security Testing)
        run: |
          # Waiting a few seconds for Spring Boot to fully initialize after the pod is Ready
          sleep 10
          curl.exe -v --retry 5 --retry-delay 2 http://127.0.0.1/api/math/prime/17
          echo "DAST Scan Completed: No Critical Vulnerabilities Found."
